<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="galePartnersTestAssignment.unitTestClass" parallel="none">
  <test name="galePartnersTestAssignment.unitTestClass">
    <classes>
      <class name="galePartnersTestAssignment.unitTestClass"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
